.DS_Store
*.log
node_modules/
*.BROKEN.html
background_multiPerlin.html
background_multiPerlin_4move_highResol2.html
background_multiPerlin_flower_7move.html
background_multiPerlin_flower_static.html
